# Ignore everything
*

# Allow folders
!*/

# Keep this file
!.gitignore

# Keep src structure
!**/src/
!**/src/**

# Keep main folder
!**/src/main/
!**/src/main/**

# Keep only java package
!**/src/main/java/
!**/src/main/java/com/
!**/src/main/java/com/example/
!**/src/main/java/com/example/**

# Keep res folder
!**/src/main/res/
!**/src/main/res/**

# Keep manifest
!**/src/main/AndroidManifest.xml